{% extends 'admin/admin_panel.html' %}
{% block body %}

<body>
<h2 align="center">Change Password</h2>
<div align="center">
  <table class="table table-striped">
    <tr>
      <th width="269" scope="row"><div align="center">Current Password</div></th>
      <td width="313"><form id="form1" name="form1" method="post" action="/chngepsswrd_post">
        <label for="textfield"></label>
        <input type="password" name="textfield" id="textfield" class="form-control" />
      </td>
    </tr>
    <tr>
      <th scope="row"><div align="center">New Password</div></th>
      <td>
        <label for="textfield2"></label>
        <input type="password" name="textfield2" id="textfield2" class="form-control" />
     </td>
    </tr>
    <tr>
      <th scope="row"><div align="center">Re-Enter New Password</div></th>
      <td>
        <label for="textfield3"></label>
        <input type="password" name="textfield3" id="textfield3" class="form-control" />
     </td>
    </tr>
  </table>

    <input type="submit" name="button" id="button" value="Change" class="btn btn-primary" />

</div>
</form>
</body>
{%endblock%}
