{% extends 'admin/admin_panel.html' %}
{% block body %}


<body>
<h2 align="center">CrowdFunding_Form</h2>
<form id="form1" name="form1" method="post" action="/crwdfunding_form_edit_post" enctype="multipart/form-data">
<div align="center"></div>
<div align="center">
  <table class="table table-striped">
    <tr>
      <th width="303" scope="row">Buisness Name<input type="hidden" value="{{ r["ReqNo"] }}" name="ReqNo" class="form-control"/></th>
      <td width="216">
        <label for="textfield"></label>
        <input type="text" name="textfield" class="form-control" id="textfield" value="{{ r["Buisness Name"] }}" />
      </td>
    </tr>
    <tr>
      <th scope="row"><strong>Address</strong></th>
      <td>
        <label for="textfield2"></label>
        <input type="text" name="textfield2" class="form-control" id="textfield2"  value="{{ r["Address"] }}">
      </td>
    </tr>
    <tr>
      <th scope="row"><strong>City</strong></th>
      <td>
        <label for="textfield3"></label>
        <input type="text" name="textfield3" class="form-control" id="textfield3" value="{{ r["City"] }}" />
      </td>
    </tr>
    <tr>
      <th scope="row">Email</th>
      <td>
        <label for="textfield4"></label>
        <input type="email" name="textfield4" class="form-control" id="textfield4" value="{{ r["Email"] }}"/>
      </td>
    </tr>
    <tr>
      <th scope="row">Website</th>
      <td>
        <label for="textfield5"></label>
        <input type="text" name="textfield5" class="form-control" id="textfield5" value="{{ r["Website"] }}" />
      </td>
    </tr>
    <tr>
      <th scope="row">Phone</th>
      <td>
        <label for="textfield6"></label>
        <input type="number" name="textfield6" class="form-control" id="textfield6" value="{{ r["Phone"] }}"/>
     </td>
    </tr>
    <tr>
      <th scope="row">Check_One</th>
      <td>
        <label for="textfield7"></label>
        <p>
          <label>
<input type="radio" name="RadioGroup1" value="debit" id="RadioGroup1_0" {% if r['Check_One']=='Debit' %}checked{% endif %}/>
          </label>
          Debit<br />
          <label>
            <input type="radio" name="RadioGroup1" value="credit" id="RadioGroup1_1" {% if r['Check_One']=='Credit' %}checked{% endif %}/>
            Credit
          </label>
          <br />
        </p>
      </td>
    </tr>
    <tr>
      <th scope="row">Date</th>
      <td>
        <label for="textfield8"></label>
        <input type="date" name="textfield8" class="form-control" id="textfield8" value="{{ r["Date"] }}" />
      </td>
    </tr>
    <tr>
      <th scope="row"><p>Amount</p></th>
      <td>
        <label for="textfield9"></label>
        <input type="number" name="textfield9" class="form-control" id="textfield9" value="{{ r["Amount"] }}" />
    </td>
    </tr>
    <tr>
      <th scope="row">Description</th>
      <td>
        <label for="textfield10"></label>
        <input type="text" name="textfield10" class="form-control" id="textfield10" value="{{ r["Description"] }}" />
  </td>
    </tr>
  </table>

    <input type="submit" name="button" id="button" class="btn btn-primary" value="Add" class="btn btn-primary />

</div>
    </form>
</body>
  {% endblock %}


