
{% extends 'admin/admin_panel.html' %}
{% block body %}

<body >
<form action="" method="get">
<h2 align="center">REGISTERED USERS</h2>
<div align="center">
  <table class="table table-striped">
    <tr id="tr1">
      <th  height="40" scope="col"><div align="center">SR.NO</div></th>
      <th  scope="col"><div align="center">NAME</div></th>
      <th  scope="col"><div align="center">PLACE</div></th>
      <th  scope="col"><div align="center">POST</div></th>
      <th scope="col"><div align="center">PIN</div></th>
      <th  scope="col"><div align="center">PHONE </div></th>
      <th scope="col"><div align="center">MAIL_ID</div></th>
      <th  scope="col"><div align="center">IMAGE</div></th>

      </tr>

      {% for i in r %}
    <tr id="tr2">
      <td height="33"><div align="center">{{loop.index}}</div></td>
      <td><div align="center">{{ i['Name'] }}</div></td>
      <td><div align="center">{{ i['Place'] }}</div></td>
      <td><div align="center">{{ i['Post'] }}</div></td>
      <td><div align="center">{{ i['Pin'] }}</div></td>
      <td><div align="center">{{ i['Phone'] }}</div></td>
      <td><div align="center">{{ i['Email'] }}</div></td>
    <td><img src="{{ i["Img"] }}" alt="" height="100px" width="100px"></td>
      </tr>
      {% endfor %}
    
  </table>
  
  
</div>
</form>
</body>
{% endblock %}
