{% extends 'admin/admin_panel.html' %}
{% block body %}

<body>
<h2 align="center">Reply</h2>
<form action="/replay_post" method="post" >
  <div align="center">
    <table class="table table-striped">
        <tr>
            <td>{{ data['Complaint'] }}</td>
        </tr>
      <tr>
        <th width="477" scope="col"><div align="center">
          <textarea rows="" cols="" name="com"></textarea>
          <input name="cid" type="hidden" value="{{ data['CId'] }}" />
        </div>
        <input type="submit" name="button" id="button" value="Submit" class="btn btn-primary" /></th>
      </tr>
  </table>
  </div>


</form>
</body>
{% endblock %}
