{% extends 'admin/admin_panel.html' %}
{% block body %}

<body>
<h1 align="center">View User Investment(Response)</h1>
<form action="" method="get">

  <div align="center">
    <table class="table table-striped">
      <tr>
          <th width="84" scope="col" >Sno.</th>
          <th >User info</th>
        <th width="84" scope="col" >Amount</th>
        <th width="208" scope="col">Date</th>
      </tr>
        {% for i in res %}
      <tr>
        <td height="124">{{ loop.index }}&nbsp;</td>
          <td></td>
        <td>&nbsp;{{ i['Amount'] }}</td>
          <td>{{ i['Date'] }}&nbsp;</td>
      </tr>
        {% endfor %}
  </table>
  </div>

</form>
</body>
{% endblock %}
