{% extends 'admin/admin_panel.html' %}
{% block body %}


<body>
<h1 align="center">CrowdFunding Form</h1>
<form action="" method="get">
  <table class="table table-striped">
    <tr>
        <th width="242" height="91" scope="col"><h4 align="center">No.</h4>
      <th width="242" height="91" scope="col"><h4 align="center">Buisness Name</h4>
      </th>
      <th width="138" scope="col"><h4 align="center">Address</h4></th>
      <th width="75" scope="col"><h4 align="center">City</h4></th>
      <th width="106" scope="col"><h4 align="center">Email</h4></th>
      <th width="128" scope="col"><h4 align="center">Website</h4></th>
      <th width="123" scope="col"><h4 align="center">Phone</h4></th>
      <th width="165" scope="col"><h4 align="center">Check_in</h4></th>
      <th width="100" scope="col"><h4 align="center">Date</h4></th>
      <th width="159" scope="col"><h4 align="center">Amount</h4></th>
      <th width="175" scope="col"><h4 align="center">Description</h4></th>
      <th width="190" scope="col"><h4 align="center"></h4></th>
        <th width="190" scope="col"><h4 align="center"></h4></th>
        <th width="190" scope="col"><h4 align="center"></h4></th>
    </tr>
       {% for i in res %}
    <tr>
      <td><div align="center">{{ loop.index }}</div></td>
      <td><div align="center">{{ i['Buisness Name'] }}</div></td>
      <td><div align="center">{{ i['Address']}}</div></td>
      <td><div align="center">{{ i['City'] }}</div></td>
      <td><div align="center">{{ i['Email'] }}</div></td>
      <td><div align="center">{{ i['Website'] }}</div></td>
      <td><div align="center">{{ i['Phone'] }}</div></td>
      <td><div align="center">{{ i['Check_One'] }}</div></td>
      <td><div align="center">{{ i['Date'] }}</div></td>
      <td><div align="center">{{ i['Amount'] }}</div></td>
      <td><div align="center">{{ i['Description'] }}</div></td>
        <td><div align="center"><a href="/crwdfunding_form_edit/{{ i["ReqNo"] }}" class="btn btn-primary">Edit</a> </div></td>
      {#  <td><a href="/admin_response_crwdfunding/{{ i['ReqNo'] }}">Response</a></td> #}
    <td><a href="/admin_delete_crwd_funding/{{ i["ReqNo"] }}" class="btn btn-danger">Delete</a></td>
    <td><div align="center"><a href="/viewrespond" class="btn btn-primary">View Response</a></div></td>
    </tr>
       {% endfor %}
  </table>
</form>
</body>
{% endblock %}