<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Login Page</title>
<style>
#button{
margin-top:20px;
border:2px solid black;
}
table{
	border: 2px solid black;
    border-collapse: collapse;
	border-radius:14px;
	
}
#use{
	margin:20px;
}
</style>
</head>
<body>
<form action="/login_post" method="post">
<h2 align="center">LOGIN</h2>
<div align="center">
  <table width="411" cellspacing="2" >
    <tr>
      <th width="201" scope="row"><div align="center" id="use">USERNAME:</div></th>
      <td width="194"><label for="textfield"></label>
        <div align="center">
          <input type="text" name="textfield" id="textfield" />
        </div></td>
      </tr>
    <tr>
      <th height="74" scope="row"><div align="center">PASSWORD:</div></th>
      <td><label for="textfield2"></label>
        <div align="center">
          <input type="text" name="textfield2" id="textfield2" />
        </div></td>
      </tr>
  </table>
</div>

<div align="center">
  <input type="submit" name="button" id="button" value="Login" />
</div>
<div align="center">
<a href="/reguser">SignUp</a>
    </div></div>
</form>
</body>
</html>
