{% extends 'admin/admin_panel.html' %}
{% block body %}

<body>
<h2 align="center">Change Password</h2>
<form id="form1" name="form1" method="post" action="/chngepsswrd_post">
<div align="center">
  <table class="table table-bordered">
    <tr>
      <th width="150px">Current Password</th>
      <td >
        <input required type="password" name="textfield" id="textfield" class="form-control" />
      </td>
    </tr>
    <tr>
      <th>New Password</th>
      <td>

        <input required type="password" name="textfield2" id="textfield2" class="form-control" />
     </td>
    </tr>
    <tr>
      <th>Re-Enter New Password</th>
      <td>

        <input required type="password" name="textfield3" id="textfield3" class="form-control" onkeyup="passwch()" /><h3  id="wa" style="color: red"></h3>
     </td>
    </tr>
      <tr>
          <td></td>
          <td>
               <input type="submit" name="button" id="button" value="Change" class="btn btn-primary" />
          </td>
      </tr>
  </table>



</div>
</form>
</body>

    <script>
    function passwch() {
        newpass=document.getElementById("textfield2").value
        confpass=document.getElementById("textfield3").value
        if (newpass!=confpass)
        {
            document.getElementById("wa").innerHTML="Missmatch"
              document.getElementById('button').style.visibility = 'hidden';

        }
        else
        {
             document.getElementById('button').style.visibility = 'visible';
             document.getElementById("wa").innerHTML=""

        }

    }
    </script>
{%endblock%}
