{% extends 'user/userhome_panel.html' %}
{% block body %}
<body>
<h1 align="center">View Replay</h1>
<form action="/viewreply_post" method="post">
    <table>
        <tr>
            <td>From</td>
            <td><input type="date" name="d1" class="form-control"/></td>
            <td>To</td>
            <td><input type="date" name="d2" class="form-control"/></td>
            <td><input type="submit" name="s1" value="Go" class="btn btn-primary"/></td>
        </tr>
    </table>
    <p></p>

    <table class="table table-striped"">
      <tr>
        <th scope="col">&nbsp;S.No</th>
        <th scope="col">&nbsp;Complaint</th>
        <th scope="col">&nbsp;Date</th>
        <th scope="col">&nbsp;Reply</th>
      </tr>
        {% for i in res %}
      <tr>
        <td>&nbsp;{{ loop.index }}</td>
        <td>&nbsp;{{ i["Complaint"] }}</td>
        <td>&nbsp;{{ i["date"] }}</td>
        <td>&nbsp;{{ i["Reply"] }}</td>
      </tr>
        {% endfor %}
  </table>

</form>

</body>
{% endblock %}